body {
  background: rgb(229, 231, 235);
}

.wrapper {
  display:flex;
  flex-wrap: wrap;
  width: 1600px;
  margin: 0 auto;
}

.car-card {
  width: 15%;
  overflow: hidden;
  background: white;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 24px;
  margin-top: 24px;
}

.car-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 100ms ease-in;
}

.car-card-img:hover {
  transform: scale(1.05);
}

.car-card-content {
  padding: 16px;
}

.car-card-city{
  color: rgb(190, 191, 195);
}

.car-card-info {
  margin-top: 12px;
}

.car-card-price {
  margin-top: 12px;
}

.car-card-labels {
  margin-top: 12px;
  border-top: 1px solid rgb(190, 191, 195);
  padding-top: 12px;
}

.car-card-label{
  background: rgb(243, 244, 246);
  padding: 4px 8px;
  margin-right: 12px;
  border-radius: 12px;
}


/* {{HEADER RELATED}} */

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #222222; 
    color: white;
}

.container-left {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.container-right {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

#top-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 15px; 
    font: inherit;
    outline: inherit;
    border-radius: 5px; 
    margin-right: 20px;
    margin-top: 15px;
    border: none;
    border: 1px solid #ccc;
    color: #bcbcbc;
}

.search-box {
    background-color: transparent; 
    border: 1px solid grey; 
    border-radius: 5px; 
    color: white; 
    padding: 10px 15px;
    font: inherit;
    outline: none;
    margin-left: 20px;
    margin-top: 15px;
}

.search-box::placeholder {
    color: #bcbcbc 
}

.search-box:focus {
    border-color: white
}

button:hover {
  color: orangered;
  border-top: white;
}

button .currency-change {
    margin-left: 5px
}

.add-product {
    margin-left: auto
}

.language {
    margin-left: auto
}

.log-in {
    margin-left: auto
}

.nav-bar {
    border-top: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #222222;
    color: white;
}

.nav-buttons {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    color: #bcbcbc;
    margin-left: 7px;
}

.nav-left{
  margin-top: 20px;
  margin-left: 200px;
}

.nav-right{
  margin-top: 20px;
  margin-right: 215px;
}

.language select option {
  background-color: #222222;
}


.detailed-search {
  margin-left: 200px;
  margin-right: 200px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    background-color: #222222;
}

.detailed-search button {
  margin-top: 20px;
  color: #bcbcbc;
    display: block;
    margin-right: 50px;
    margin-left: 20px;
    border: none
}

.detailed-search button {
  background-color: #222222;
    cursor: pointer;
    border-radius: 5px
}

.detailed-search select {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

.detailed-search .specifications {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-content: center; 
    align-items: center;
}

.detailed-search .specifications select {
    width: 100%;
    color: white;
    border-radius: 5px;
}

.specifications select option {
    background-color: #222222;
}

.specifications button{
  height: 25px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: orangered;
  border-radius: 5px;
}
